<select class="star-rating">
    <option value="">Select a rating</option>
    <option value="1">Excellent</option>
    <option value="2">Very Good</option>
    <option value="3">Average</option>
    <option value="4">Poor</option>
    <option value="5">Terrible</option>
</select>

<script>

</script>