<style>
    @media (min-width: 992px) {
        #navbarNavDropdown {
            display: none!important;
            width: 0 !important;
        }
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light p-0 sticky-top">

    <div class="container-fluid">
        <a class="navbar-brand me-5" href="{{ path('app_main') }}">
            <img height="85" src="{{ asset('svg/logo.svg') }}">
        </a>

        <div class="">
            <div class="d-none d-lg-block">
                <div class="fs-4 mb-3 text-center">
                    Санкт-Петербург
                </div>
                <div class="navbar-nav d-none d-lg-flex ms-auto me-auto">
                    <div class="row">
                        <div class="col-auto fs-5">
                            Главная
                        </div>
                        <div class="col-auto fs-5">
                            Главная
                        </div>
                        <div class="col-auto fs-5">
                            Главная
                        </div>
                        <div class="col-auto bg-primary-subtle fs-5 ">
                            Главная
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="d-sm-flex d-lg-none">
                Saint-Petegsburg
            </div>
        </div>


        <span class="navbar-text p-0 d-none d-lg-flex">
            <div class="row gap-3 ">
                <div class="col-auto">
                    <span class="text-primary-emphasis d-block fs-5">Контакты:</span>
                    <span class="fs-6">
                    akagat@yandex.ru<br>
                    +79216423639<br>
                    +79216423639
                    </span>
                </div>
                <div class="col-auto align-self-center">
                    <div class="btn btn-primary">
                        Вход для<br> сотрудников
                    </div>
                </div>
            </div>
        </span>


</nav>
<hr class="m-0">