html {
    overflow-x: hidden;
}
body {
    zoom: 100%;
    background-color: #FFFFFF!important;
}

.fs-7 {
    font-size: 0.65rem!important;
}

#offcanvasTop {
    height: 80vh!important;
}

#offcanvasBottom {
    height: 80vh!important;
}
